replicaCount: 1

image:
    repository: myapi
    tag: latest
    pullPolicy: Never

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
    create: true
    automount: true
    annotations: {}
    name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

service:
    type: ClusterIP
    port: 8081

ingress:
    enabled: false
    className: ""
    annotations: {}
    hosts:
        - host: chart-example.local
          paths:
              - path: /
                pathType: ImplementationSpecific
    tls: []

resources: {}

livenessProbe:
    httpGet:
        path: /
        port: 8081

readinessProbe:
    httpGet:
        path: /
        port: 8081

autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

env:
    REDIS_HOST: myapi-redis
    REDIS_PORT: "6379"

redis:
    image:
        repository: redis
        tag: "7.0"
    service:
        type: ClusterIP
        port: 6379
    persistence:
        enabled: false
